{% extends "librarian_dashboard.html"%} {% block main_content%}
{% include "dashboard_header.html" with title="Transactions" %}

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Book</th>
      <th>Member</th>
      <th>Format</th>
      <th>Borrow Date</th>
      <th>Return Date</th>
      <th>Fine Amount</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if transactions %} {% for transaction in transactions %}
    <tr>
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.book.title }}</td>
      <td>
        {{ transaction.member.user.first_name }} {{ transaction.member.user.last_name }}
      </td>
      <td>{{ transaction.book_format }}</td>
      <td>{{ transaction.borrow_date }}</td>
      <td>{{ transaction.return_date|default:"N/A" }}</td>
      <td>${{ transaction.fine_amount }}</td>
      <td>
        <span
          class="badge {% if transaction.status == 'Borrowed' %} bg-primary {% elif transaction.status == 'Returned' %} bg-success {% elif transaction.status == 'Overdue' %} bg-warning {% elif transaction.status == 'Lost' %} bg-danger {% endif %}"
        >
          {{ transaction.status }}
        </span>
      </td>
      <td>
        <a href="{% url 'update-transaction' transaction.id %}" class="btn btn-warning btn-sm"
        ><i class="fas fa-edit"></i>
      </a>
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="7" class="text-center">No transactions found.</td>
    </tr>
    {% endif %}
  </tbody>
</table>

<nav aria-label="Page navigation" class="d-flex justify-content-end">
  <ul class="pagination">
    {% if transactions.has_previous %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ transactions.previous_page_number }}"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %} {% for num in transactions.paginator.page_range %}
    <li
      class="page-item {% if transactions.number == num %}is-active{% endif %}"
    >
      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endfor %} {% if transactions.has_next %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ transactions.next_page_number }}"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock main_content%}
