{% extends "base.html"%} {% load static %} {% block content %}
<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <a href="{% url 'home' %}">
        <img class="border-rounded" src="{% static "images/somo-logo.png" %}"
        alt="" />
      </a>
      <h3>Welcome to SOMO.</h3>
      <p>Read More, Explore More, Be More.!</p>
      <a href="{% url 'login' %}">
        <input class="text-light" type="submit" name="" value="Login" /><br />
      </a>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <h3 class="register-heading">Apply as a Member</h3>
          <form
            method="POST"
            action="/auth/membership/"
            class="row register-form"
          >
            {% csrf_token %}
            <div class="col-md-6">
              <div class="form-group">
                <label>First Name *</label>
                {{ form.first_name }}
              </div>
              <div class="form-group">
                <label>Last Name *</label>
                {{ form.last_name }}
              </div>
              <div class="form-group">
                <label>Gender *</label>
                {{ form.gender }}
              </div>
              <div class="form-group">
                <label>Password *</label>
                {{ form.password }}
              </div>
              <div class="form-group">
                <label>Confirm Password *</label>
                {{ form.confirm_password }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Email *</label>
                {{ form.email }}
              </div>
              <div class="form-group">
                <label>Country *</label>
                {{ form.country }}
              </div>
              <div class="form-group">
                <label>City *</label>
                {{ form.city }}
              </div>
              <div class="form-group">
                <label>Phone Number *</label>
                {{ form.phone_number}}
              </div>
              <input type="submit" class="btnRegister" value="Register" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
