{% extends "base.html" %} {% load static %} {% block content %}

<div>
  <div class="sidebar">
    <a href="{% url 'home' %}">
      <img src="{% static "images/somo-logo.png" %}" alt="" /> 
    </a>
  </hr class="w-100 bg-dark">
    <div class="d-flex flex-column justify-content-space-between gap-5 mt-5">
      <div class="d-flex flex-column">
        <a href="{% url "librarian-dashboard" %}"><i class="fas fa-home"></i> Dashboard</a>
        <a href="{% url "members" %}"><i class="fas fa-user"></i> Members</a>
        <a href="{% url "membership-requests" %}"><i class="fas fa-user-check"></i> Membership Requests</a>
        <a href="{% url "transactions" %}"><i class="fas fa-exchange-alt"></i> Transactions</a>
        <a href="{% url "librarian-reservations" %}"><i class="fas fa-calendar-check"></i> Reservations</a>
        <a href="{% url "librarian-overdue-books" %}"><i class="fas fa-clock"></i> Overdue Books</a>
        <a href="{% url "librarian-books" %}"><i class="fas fa-book"></i> Books</a>
        <a href="#"><i class="fas fa-chart-line"></i> Reports</a>
        <a href="#"><i class="fas fa-calendar"></i> Events</a>
      </div>
    </div>
    <div class="bottom-fixed">
      <a href="{% url 'logout' %}"
        ><i class="fas fa-sign-out-alt"></i> Logout</a
      >
    </div>
  </div>

  <div class="main-content">
    {% block main_content %}

    {% endblock main_content %}
  </div>
</div>

{% endblock content %}
