{% extends "base.html" %} {% load static %} {% block content %}

<div>
  <div>
    <div class="sidebar">
      <a href="{% url 'home' %}">
        <img src="{% static "images/somo-logo.png" %}" alt="" /> 
      </a>
    </hr class="w-100 bg-dark">
      <div class="d-flex flex-column justify-content-space-between gap-5 mt-5">
        <div class="d-flex flex-column">
          <a href="{% url "member-dashboard" %}" class="{% if request.path == '/member/' %}item-active{% endif %}"><i class="fas fa-home"></i> Dashboard</a>
          <a href="{% url "borrowed-books" %}" class="{% if request.path == '/member/borrowed-books/' %}item-active{% endif %}"><i class="fas fa-user"></i> Borrowed Books</a>
          <a href="{% url "member-reservations" %}" class="{% if request.path == '/member/reservations/' %}item-active{% endif %}"><i class="fas fa-user-check"></i> Reservations</a>
          <a href="#"><i class="fas fa-exchange-alt"></i> Notifications</a>
        </div>
      </div>
      <div class="bottom-fixed">
        <a href="{% url 'logout' %}"
          ><i class="fas fa-sign-out-alt"></i> Logout</a
        >
      </div>
    </div>

    <div class="main-content">
      {% block member_main_content %} {% endblock member_main_content %}
    </div>
  </div>
</div>

{% endblock content %}
