{% extends "member_dashboard.html"%} {% block member_main_content %}
{% include "dashboard_header.html" with title="Reservations" %}

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Book</th>
      <th>Member</th>
      <th>Reserved Date</th>
      <th>Waiting Position</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% if reservations %} {% for reservation in reservations %}
    <tr>
      <td>{{ reservation.id }}</td>
      <td>{{ reservation.book.title }}</td>
      <td>{{ reservation.member.name }}</td>
      <td>{{ reservation.reserved_date }}</td>
      <td>{{ reservation.waiting_position }}</td>
      <td>
        <span
          class="badge {% if reservation.status == 'Pending' %} bg-warning {% elif reservation.status == 'Fulfilled' %} bg-success {% elif reservation.status == 'Cancelled' %} bg-danger {% endif %}"
        >
          {{ reservation.status }}
        </span>
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="6" class="text-center">No reservations found.</td>
    </tr>
    {% endif %}
  </tbody>
</table>

<nav aria-label="Page navigation" class="d-flex justify-content-end">
  <ul class="pagination">
    {% if reservations.has_previous %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ reservations.previous_page_number }}"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %} {% for num in reservations.paginator.page_range %}
    <li class="page-item {% if events.number == num %}is-active{% endif %}">
      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endfor %} {% if reservations.has_next %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ reservations.next_page_number }}"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock member_main_content %}
