{% extends "base.html" %} {% block content %}

{% include "custom_navbar.html" %}
<div class="container mt-4">
  <div class="row mb-5">
    <!-- Main Content -->
    <div class="col-md-12">
      <!-- Book Listings -->
      {% if events %}
      <div class="row w-100">
        {% for event in events %}
        <a  href="{% url "event-detail" event_id=event.id %}" class="col-md-3 card book-card mb-3 text-decoration-none" style="height: auto !important;">
            {% if event.image %}
              <img
                src="{{ event.image.url }}"
                alt="Book Cover"
              />
            {% else %}
              <img
                src="https://placehold.co/600x400"
                class="card-img-top"
                alt="Book Cover"
              />
            {% endif %}
            <div class="card-body">
              <h4 class="card-title">{{ event.name|capfirst }}</h4>
              <p class="card-text"> {{ event.description|slice:":50" }}... </p>
              <p class="card-text">Location: {{ event.location }}</p>
              <p class="card-text">Date: {{ event.event_date }}</p>
            </div>
          </a>
        {% endfor %}   
      </div>
      {% else %}
      <div class="row">
          <div class="col-md-12 text-center mt-4">
            <h3>No events currently.</h3>
          </div>
      </div>
      {% endif %}  
      <nav aria-label="Page navigation" class="mt-4 d-flex justify-content-end">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for num in events.paginator.page_range %}
          <li class="page-item {% if events.number == num %}is-active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="?page={{ events.paginator.end_index|add:"1" }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
</div>


{% endblock content %}