{% extends "base.html" %} {% load static %}{% block content %}
<nav class="navbar p-3 navbar-light bg-light justify-content-between">
  <a class="text-decoration-none h3 px-3" href="{% url 'home' %}"> 🕮 𝐒𝐎𝐌𝐎 </a>
  <div class="d-flex">
    <!-- User Dropdown -->
    <a class="nav-item nav-link fw-bold" href="{% url "home" %}">Home</a>
    {% if user.is_authenticated and not user.is_admin %}
    {% if user.role == "Librarian" %}
      <a class="nav-item nav-link" href="{% url "librarian-dashboard" %}">
        <div class="container-fluid d-flex justify-content-end align-items-center gap-2">
          <div class="profile-icon">
              <i class="fas fa-user"></i>
          </div>
          {{ user.first_name }}
         </div>
      </a>
    {% else %}
      <a class="nav-item nav-link" href="{% url "member-dashboard" %}">
        <div class="container-fluid d-flex justify-content-end align-items-center gap-2">
          <div class="profile-icon">
              <i class="fas fa-user"></i>
          </div>
          {{ user.first_name }}
        </div>
      </a>
    {% endif%}
  {% endif%}

</nav>

<div class="container d-flex justify-content-center align-items-center">
  <!-- Search Bar -->
  <div class="mb-3 mt-4 d-flex w-50">
      <div class="input-group">
        <input
          class="form-control shadow-none"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn search-btn bg-brown text-light py-0" type="submit">
          <i class="fas fa-search p-0"></i>
        </button>
      </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row mb-5">
    <!-- Sidebar -->
    <div class="col-md-3">
      <h4>Genres</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item is-active">All</li>
        <li class="list-group-item">Fiction</li>
        <li class="list-group-item">Non-Fiction</li>
        <li class="list-group-item">Science</li>
        <li class="list-group-item">History</li>
        <li class="list-group-item">Biography</li>
      </ul>
    </div>

    <!-- Main Content -->
    <div class="col-md-9">
      <!-- Book Listings -->
      <div class="row mt-4">
        {% if books %}
        {% for book in books %}
        <div class="col-md-3">
          <div class="card">
            <img
              src="https://placehold.co/600x400"
              class="card-img-top"
              alt="Book Cover"
            />
            <div class="card-body">
              <h5 class="card-title">{{ book.title }}</h5>
              <p class="card-text">Author: {{ book.author }}</p>
            </div>
          </div>
        </div>

        {% endfor %}
        {% else %}
        <div class="col-md-12 text-center mt-4">
          <h3>No books found.</h3>
        </div>
        {% endif %}        
      </div>
      <nav aria-label="Page navigation" class="mt-4 d-flex justify-content-end">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% for num in books.paginator.page_range %}
          <li class="page-item {% if books.number == num %}is-active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="?page={{ books.paginator.end_index|add:"1" }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock content %}
