{% extends "base.html" %} {% load static %}{% block content %}

{% include "custom_navbar.html" %}

<div class="container mt-2">
  <a href="{% url "books" %}" class="btn btn-save mb-3"
    ><i class="fas fa-arrow-left"></i> Back to Library</a
  >
  <div class="card mb-5">
    <div class="row g-0">
      <div class="col-md-4 text-center p-3">
        {% if book.cover_image %}
        <img
          src="{{ book.cover_image.url }}"
          class="card-img-top"
          alt="Book Cover"
        />
      {% else %}
        <img
          src="https://placehold.co/800x600"
          class="card-img-top"
          alt="Book Cover"
        />
      {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title fw-bold">{{ book.title|capfirst }}</h1>
          <p class="card-text"><strong>Author:</strong> {{ book.author }}</p>
          <p class="card-text"><strong>Genre:</strong> {{ book.genre }}</p>
          <p class="card-text"><strong>ISBN:</strong> {{ book.isbn }}</p>
          <p class="card-text"><strong>Language:</strong> {{ book.language }}</p>
          <p class="card-text"><strong>Edition:</strong> {{ book.edition }}</p>
          <p class="card-text"><strong>Formats:</strong> {{ book.formats.all|join:", " }}</p>
          <p class="card-text"><strong>Publisher:</strong> {{ book.publisher_name }}</p>
          <p class="card-text"><strong>Published Date:</strong> {{ book.published_date }}</p>
          <p class="card-text"><strong>Description:</strong></p>
          <p class="card-text">{{ book.description|safe }}</p>
          {% if user.role == "Member" and book.available_copies > 0 %}
              <!-- Borrow Button (Trigger Modal) -->
            <button type="button" class="btn btn-save" data-bs-toggle="modal" data-bs-target="#borrowBookModal">
                <i class="fas fa-book-reader"></i> Borrow Book
            </button>
          {% endif %}
          {% if user.role == "Member" and book.available_copies == 0 %}
            <button type="button" class="btn btn-save" data-bs-toggle="modal" data-bs-target="#reserveBookModal">
                <i class="fas fa-book-reader"></i> Reserve Book
            </button>
          {% endif%}
        </div>
      </div>
    </div>
  </div>
<!-- Borrow Book Modal -->
<div class="modal fade" id="borrowBookModal" tabindex="-1" aria-labelledby="borrowBookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="borrowBookModalLabel">Borrow Book</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form method="post" action="{% url 'borrow-book' book_id=book.id %}">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="bookTitle" class="form-label">Book Title</label>
                      <input type="text" class="form-control" id="bookTitle" value="{{ book.title }}" readonly>
                  </div>
                  <div class="mb-3">
                      <label for="formatSelect" class="form-label">Select Format</label>
                      <select class="form-select" id="formatSelect" name="format">
                          {% for format in book.formats.all %}
                          <option value="{{ format.name }}">{{ format }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="mb-3">
                      <label for="borrowDuration" class="form-label">Borrow Duration (Days)</label>
                      <input type="number" class="form-control" id="borrowDuration" name="duration" min="1" max="14" value="7">
                  </div>
                  <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-save">Confirm Borrow</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- Borrow Book Modal -->
<div class="modal fade" id="reserveBookModal" tabindex="-1" aria-labelledby="borrowBookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="borrowBookModalLabel">Reserve Book</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form method="post" action="{% url 'reserve-book' book_id=book.id %}">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="bookTitle" class="form-label">Book Title</label>
                      <input type="text" class="form-control" id="bookTitle" value="{{ book.title }}" readonly>
                  </div>
                  <div class="mb-3">
                      <label for="formatSelect" class="form-label">Select Format</label>
                      <select class="form-select" id="formatSelect" name="format">
                          {% for format in book.formats.all %}
                          <option value="{{ format.name }}">{{ format }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="mb-3">
                      <label for="borrowDuration" class="form-label">Borrow Duration (Days)</label>
                      <input type="number" class="form-control" id="borrowDuration" name="duration" min="1" max="14" value="7">
                  </div>
                  <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-save text-center">Confirm Reserve</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
</div>

{% endblock content %}
