{% extends "librarian_dashboard.html"%} {% block main_content%}

<h2>Books List</h2>
<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Language</th>
      <th>ISBN</th>
      <th>Available Copies</th>
      <th>Total Copies</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if books %} {% for book in books %}
    <tr>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.language }}</td>
      <td>{{ book.isbn }}</td>
      <td>{{ book.available_copies }}</td>
      <td>{{ book.total_copies }}</td>
      <td>
        <a href="{% url 'update-book' book.id %}" class="btn btn-warning btn-sm"
          ><i class="fas fa-edit"></i
        ></a>
        <a href="{% url 'delete-book' book.id %}" class="btn btn-danger btn-sm"
          ><i class="fas fa-trash"></i
        ></a>
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="8" class="text-center">No books found.</td>
    </tr>
    {% endif %}
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if books.has_previous %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ books.previous_page_number }}"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %} {% for num in books.paginator.page_range %}
    <li class="page-item {% if books.number == num %}is-active{% endif %}">
      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endfor %} {% if books.has_next %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ books.next_page_number }}"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock main_content%}
