{% extends "librarian_dashboard.html" %} {% block main_content %}

{% include "dashboard_header.html" with title="Members" %}

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Joined Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if not members %}
    <tr>
      <td colspan="6" class="text-center">No members found.</td>
    </tr>
    {% else %} {% for member in members %}
    <tr>
      <td>{{ member.id }}</td>
      <td>{{ member.user.first_name }}</td>
      <td>{{ member.user.last_name }}</td>
      <td>{{ member.user.email }}</td>
      <td>{{ member.approved_date }}</td>
      <td>
        <a href="{% url "update-member" member_id=member.id %}" class="btn btn-info btn-sm"
          ><i class="fas fa-edit"></i> Edit</a
        >
        <button id="deleteMemberBtn" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ member.id }}"><i class="fas fa-trash"></i> Delete</button>
      </td>
    </tr>
    {% endfor %} {% endif %}
  </tbody>
</table>

<nav aria-label="Page navigation" class="d-flex justify-content-end">
  <ul class="pagination">
    {% if members.has_previous %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ members.previous_page_number }}"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %} {% for num in members.paginator.page_range %}
    <li class="page-item {% if members.number == num %}is-active{% endif %}">
      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endfor %} {% if members.has_next %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ members.next_page_number }}"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="confirmDelete" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}
