{% extends "librarian_dashboard.html" %} {% block main_content %}

{% include "dashboard_header.html" with title="Membership Requests" %}

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Joined Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if not requests %}
    <tr>
      <td colspan="6" class="text-center">No members requests.</td>
    </tr>
    {% else %} {% for member in requests %}
    <tr>
      <td>{{ member.id }}</td>
      <td>{{ member.user.first_name }}</td>
      <td>{{ member.user.last_name }}</td>
      <td>{{ member.user.email }}</td>
      <td>{{ member.approved_date }}</td>
      <td>
        <a href="{% url "approve-membership-request" member_id=member.id %}" class="btn btn-success btn-sm"
          ><i class="fas fa-check"></i> Approve</a
        >
        <a href="{% url "decline-membership-request" member_id=member.id %}" class="btn btn-danger btn-sm"
          ><i class="fas fa-times"></i> Decline</a
        >
      </td>
    </tr>
    {% endfor %}{% endif %}
  </tbody>
</table>

<nav aria-label="Page navigation" class="d-flex justify-content-end">
  <ul class="pagination">
    {% if requests.has_previous %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ requests.previous_page_number }}"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %} {% for num in requests.paginator.page_range %}
    <li class="page-item {% if requests.number == num %}is-active{% endif %}">
      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endfor %} {% if requests.has_next %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ requests.next_page_number }}"
        aria-label="Next"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock main_content %}
